*.o
*.exe
*.la
*.lo
*.libs
*.a
*Makefile
autom4te.cache
bochs
bxhub
bximage
build/linux/bochs-dlx
build/macosx/Info.plist
build/win32/nsis/bochs.nsi
bxversion.h
bxversion.rc
compile
config.h
config.log
config.status
depcomp
libltdl
libtool
ltdlconf.h
missing